*{
    color: var(--white);
}
*::selection{
    background-color: var(--aqua);
}
html{
    font-family: 'Hind', sans-serif;
}
:root{
    --transpar: transparent;
    --white: #ffffff;
    --black: #000000;
    --borderColor: rgba(255, 255, 255, 0.2);
    --sectionColor: #fafafa;
    --headerinColor: #515769;
    --parColor: #a6a7aa;
    --linksColor: #cbd3e1;
    --aqua: #17bed2;
    --icon: #999caa;
    --bold: #81848f;
    --span: #bfc1c7;
}
.aqua{
    color: var(--aqua);
}
p{
    margin: 0;
}
a:hover{
    text-decoration: none;
}
ul{
    padding-left: 0;
    list-style-type: none;
}

/*
header
*/

.container{
    max-width: 1170px;
}
.header,
.footer__bot{
    background-color: var(--transpar);
    width: 100%;
    height: 95px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--borderColor);
    transition: background-color ease .5s;
    -webkit-transition: background-color ease .5s;
    -moz-transition: background-color ease .5s;
    -ms-transition: background-color ease .5s;
    -o-transition: background-color ease .5s;
    z-index: 10;
}
.header__cont{
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.logo{
    height: 100%;
    width: 85px;
    display: flex;
    align-items: center;
}
.logo__img{
    width: 100%;
    display: block;
}
.header__nav{
    flex-grow: 0;
    height: 100%;
}
.header__list{
    padding: 20px;
}
.header__btn{
    margin-right: 20px;
    border: none;
    outline: none;
}
.header__btn:focus{
    border: none;
    outline: none;
}
.header__list,
.header__logo{
    height: 100%;
}
.header__logo{
    margin-left: 20px;
    margin-bottom: 0;
}
.header__link{
    display: block;
    height: 100%;
    color: var(--white);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    padding: 0 20px;
    position: relative;
}
.header__link_last{
    padding-right: 0;
}
.header__link:hover{
    color: var(--white);
}
.header__link::before,
.products__link::after,
.pricing__list_item_inner::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 9px;
    height: 2px;
    background: #17bed2;
    opacity: 0;
    transition: opacity ease .3s;
    -webkit-transition: opacity ease .3s;
    -moz-transition: opacity ease .3s;
    -ms-transition: opacity ease .3s;
    -o-transition: opacity ease .3s;
}
.active::before{
    opacity: 1;
}
.header__link:hover.header__link::before{
    opacity: 1;
}

/*
home
*/

section,
.footer{
    padding: 100px 0;
}
.home{
    overflow: hidden;
    padding: 0;
}
.home__carusel_cont{
    width: 200%;
    height: 100vh;
    position: relative;
}
.home__carusel{
    width: 100%;
    transition: transform ease 1s;
    -webkit-transition: transform ease 1s;
    -moz-transition: transform ease 1s;
    -ms-transition: transform ease 1s;
    -o-transition: transform ease 1s;
}
.home__bg1,
.home__bg2{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200%;
    height: 100vh;
}
.home__bg1{
    background-image: url(../media/img/homeBg1.jpg);
}
.home__bg2{
    background-image: url(../media/img/homeBg2.jpg);
}
.home__title{
    font-size: 75px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0 0 25px;
}
.par{
    color: var(--parColor);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
}
.home__par{
    margin: 0 0 45px;
}
.button{
    text-transform: uppercase;
    user-select: none;
    line-height: 1.4;
    color: var(--white);
    font-size: 13px;
    font-weight: 600;
    padding: 15px 30px;
    outline: none;
    border: 1px solid var(--borderColor);
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}
.button:focus{
    outline: none;
    border: none;
}
.home__btn:hover{
    background-color: var(--white);
}
.header__panel_cont{
    position: absolute;
    bottom: 50px;
    width: 100%;
}
.home__panel_item{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background-color ease .5s;
    -webkit-transition: background-color ease .5s;
    -moz-transition: background-color ease .5s;
    -ms-transition: background-color ease .5s;
    -o-transition: background-color ease .5s;
}
.home__panel_item:first-child{
    background-color: var(--white);
    margin-right: 3px;
}
.home__panel_item:hover{
    background-color: var(--white);
}

/*
items
*/

.items,
.clients,
.showcase{
    background-color: var(--sectionColor);
}
.items__item{
    background-color: var(--white);
    border: 1px solid var(--sectionColor);
    position: relative;
}
.items__item:hover .items__item_cont{
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
}
.items__item:hover .items__item_icon{
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.items__item_cont{
    padding: 50px;
    transition: transform linear .2s;
    -webkit-transition: transform linear .2s;
    -moz-transition: transform linear .2s;
    -ms-transition: transform linear .2s;
    -o-transition: transform linear .2s;
}
.items__item_link{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.items__item_icon{
    margin-bottom: 30px;
    opacity: 1;
    transition: opacity linear .2s, transform linear .2s;
    -webkit-transition: opacity linear .2s, transform linear .2s;
    -moz-transition: opacity linear .2s, transform linear .2s;
    -ms-transition: opacity linear .2s, transform linear .2s;
    -o-transition: opacity linear .2s, transform linear .2s;
}
.icon{
    color: var(--icon);
    font-size: 30px;
}
.items__heading{
    color: var(--headerinColor);
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.4;
    margin: 0 0 15px;
}

/*
products title
*/

.section-title{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--headerinColor);
    line-height: 1.4;
    margin: 0 0 15px;
}
.products__img{
    width: 100%;
    display: block;
}
.products__item_cont{
    padding: 20px 0;
}
.items__heading_span{
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: var(--span);
}
.products__link{
    color: var(--bold);
    position: relative;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
    display: inline-block;
    position: relative;
}
.products__heading_link{
    color: var(--headerinColor);
}
.products__link:hover,
.products__heading_link:hover{
    opacity: 0.8;
    color: var(--bold);
}
.products__link::after{
    opacity: 1;
    right: -15px;
    left: unset;
}

/*
clients
*/

.clients__img{
    width: 100%;
    display: block;
    transition: filter ease .3s;
    -webkit-transition: filter ease .3s;
    -moz-transition: filter ease .3s;
    -ms-transition: filter ease .3s;
    -o-transition: filter ease .3s;
}
.clients__img:hover{
    filter: opacity(65%);
    -webkit-filter: opacity(65%);
}

/*
customer
*/

.customer__hidden{
    overflow: hidden;
}
.customer__cont{
    width: 200%;
    transition: transform ease 1s;
    -webkit-transition: transform ease 1s;
    -moz-transition: transform ease 1s;
    -ms-transition: transform ease 1s;
    -o-transition: transform ease 1s;
}
.customer__cont_inner{
    width: 100%;
    position: relative;
    padding-left: 40px;
}
.customer__par{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px;
}
.customer__cont_inner::before{
    position: absolute;
    content: '“';
    left: 0;
    top: -20px;
    font-size: 60px;
    color: #17bed2;
}
.customer__cont_name{
    color: var(--bold);
    font-weight: 700;
}

/*
pricing
*/

.pricing__cont{
    width: 100%;
    margin: 0;
}
.pricing__item{
    padding: 70px 45px;
    background-color: var(--white);
    border: 1px solid var(--sectionColor);
}
.pricing__item:nth-child(2){
    padding: 110px 45px;
}
.pricing__prc{
    color: var(--span);
    font-size: 14px;
    font-weight: 400;
}
.pricing__item_list{
    margin: 25px 0;
}
.pricing__list_item_inner{
    position: relative;
    font-size: 13px;
    color: #81848f;
    padding-left: 20px;
}
.pricing__list_item_inner::before{
    opacity: 1;
}
.pricing__item_btn{
    background-color: var(--sectionColor);
    color: var(--headerinColor);
}
.pricing__item_btn:hover{
    color: var(--white);
    background-color: var(--aqua);
}

/*
clients
*/

.clients-info{
    position: relative;
}
.clients-info__last-par{
    margin-top: 10px;
}
.clients-info__img_cont{
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    overflow: hidden;
}
.clients-info__img{
    width: 100%;
    display: block;
}

/*
showcase
*/

.showcase__item{
    position: relative;
    padding: 2px;
    background-color: var(--sectionColor);
}
.showcase__item_img{
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity ease .3s;
    -webkit-transition: opacity ease .3s;
    -moz-transition: opacity ease .3s;
    -ms-transition: opacity ease .3s;
    -o-transition: opacity ease .3s;
}
.showcase__item_cont{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--sectionColor);
    background-color: var(--black);
    z-index: 1;
}
.showcase__item:hover .showcase__item_img{
    opacity: .4;
}
.showcase__item:hover .showcase__item_bot{
    opacity: 1;
    bottom: 25px;
}
.showcase__item_bot{
    position: absolute;
    bottom: 0px;
    left: 25px;
    z-index: 3;
    opacity: 0;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}
.showcase__item_title,
.showcase__item_par{
    color: var(--white);
}

/*
footer
*/

.footer{
    width: 100%;
    background-image: url(../media/img/homeBg2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 0;
}
.footer__list_item{
    margin-bottom: 20px;
}
.footer__list_item:last-child{
    margin-bottom: 0;
}
.footer__list_link{
    color: var(--linksColor);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
}
.footer__list_link:hover{
    color: var(--white);
}
.footer__form_title{
    color: var(--white);
}
.footer__form_inp{
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--parColor);
    background: rgba(0,0,0,.15);
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding-left: 15px;
    margin-bottom: 20px;
    outline: none;
}
.footer__form_inp::placeholder{
    color: var(--parColor);
}
.footer__form_text{
    height: 100px;
    margin: 0;
}
.form__btn{
    border: none;
    background-color: var(--aqua);
    color: var(--white);
    margin-top: 20px;
}
.form__btn:hover{
    color: var(--white);
    background-color: #63cbd7;
}
.footer__bot{
    position: unset;
    border-top: 1px solid var(--borderColor);
    margin-top: 100px;
}
.footer__bot_link:hover{
    color: #63cbd7;
}
.footer__bot_par{
    margin: 0;
}