@font-face {
    font-family: 'Hind';
    src: url('Hind-Medium.eot');
    src: url('Hind-Medium.eot?#iefix') format('embedded-opentype'),
        url('Hind-Medium.woff2') format('woff2'),
        url('Hind-Medium.woff') format('woff'),
        url('Hind-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind';
    src: url('Hind-Bold.eot');
    src: url('Hind-Bold.eot?#iefix') format('embedded-opentype'),
        url('Hind-Bold.woff2') format('woff2'),
        url('Hind-Bold.woff') format('woff'),
        url('Hind-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind';
    src: url('Hind-Light.eot');
    src: url('Hind-Light.eot?#iefix') format('embedded-opentype'),
        url('Hind-Light.woff2') format('woff2'),
        url('Hind-Light.woff') format('woff'),
        url('Hind-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind';
    src: url('Hind-SemiBold.eot');
    src: url('Hind-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Hind-SemiBold.woff2') format('woff2'),
        url('Hind-SemiBold.woff') format('woff'),
        url('Hind-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind';
    src: url('Hind-Regular.eot');
    src: url('Hind-Regular.eot?#iefix') format('embedded-opentype'),
        url('Hind-Regular.woff2') format('woff2'),
        url('Hind-Regular.woff') format('woff'),
        url('Hind-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

